*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.bg-barra{
    background-color: rgb(88, 4, 4);
    height: 10vh;
}
.tituloPedido{
    font-size: 5rem;
}
hr{
    border-color:  blue;
}
.table thead{
    background-color: #302b63;
    color: white;
}

@media screen and (max-width: 900px){
    .tituloPedido{
        font-size: 2rem;
    }
}